@model Wolfpack.Web.Models.Group.GroupVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm("Archive", "Group"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <input type="submit" class="action-button" value="Delete" />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "action-button" })
}
