@model Wolfpack.Web.Models.Home.HomeVM

@{
    ViewBag.Title = "Home Page";
}

@if (Model == null || string.IsNullOrWhiteSpace(Model.Test))
{

<div class="form-box">
    <h2> Form demo</h2>
    <form action="" method="post">
        <div class="form-item">
            <input type="text" id="name" name="user_name" required>
            <label for="name">Name:</label>
        </div>
        <div class="form-item">
            <input type="text" id="mail" name="user_mail" required>
            <label for="mail">E-mail:</label>
        </div>
        <div class="form-item">
            <textarea id="msg" name="user_message" required></textarea>
            <label for="msg">Message:</label>
        </div>
        <input type="submit" class="submit-button" />
    </form>
</div>
}
else
{
    using(Html.BeginForm("FormTest", "Home"))
    {
        <text>
        @Html.EditorFor(m => m.Test)

        <input type="submit" />
        </text>
    }

    <text>@Model.Test</text>
}