@model Wolfpack.Web.Models.Notification.NotificationVM

@{
    ViewBag.Title = "Notification";
}
<a class="action-button" href="@Url.Action("GetNotifications")"><i class="fas fa-arrow-circle-left fa-lg icon-left"></i><span>Back</span></a>

<h2>@Model.Title</h2>
@Model.Content
