@model Wolfpack.Web.Models.Notification.NotificationsVM

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>


@foreach (var notification in Model.Notifications)
{

    @Html.ActionLink(@notification.Title, "GetNotification", new { id = notification.Id }, new { @class = "notification-item"})
}

<h3>History</h3>

        @foreach (var notification in Model.NotificationHistory)
    {
        @Html.ActionLink(@notification.Title, "GetNotification", new { id = notification.Id }, new { @class = "notification-item" })
}