@model IEnumerable<Wolfpack.Web.Models.Event.TeamVM>

@{
    ViewBag.Title = "GenerateTeams";
}

<h2>GenerateTeams</h2>

@foreach(var team in Model)
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>@team.Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in team.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        @foreach(var skill in user.SkillRatings)
                        {
                            <td>@skill.Mark</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

    <p>
        @Html.ActionLink("Back to Events", "Index")
    </p>