
@{
    ViewBag.Title = "RateTeamMembers";
}

<h2>RateTeamMembers</h2>
<script>
    let users = [];
    document.onreadystatechange = function () {

        if (document.readyState === 'complete') {
                        //Ajax request
            let httpRequest = new XMLHttpRequest();
            httpRequest.open('POST', '@Url.Action("UsersToBeRated")');
            httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            httpRequest.send(JSON.stringify({
                eventId: 1
            }));

            //Handle result
            httpRequest.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    users = JSON.parse(httpRequest.response);
            getTeamRating('@Url.Action("RatePartial")', JSON.stringify({
                userId: users[0].id,
                eventId: @ViewData.Eval("id") 
                    }));
                }
            }
        }
    }

</script>