body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div,ul,li,a{
    box-sizing:border-box;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position:absolute;
}

.sidebar-wrapper {
    width: 200px;
    height: 100%;
    position: relative;
    flex: 0 0 200px;
}

.main{
    display:flex;
    flex:1;
}

.sidebar {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 200px;
    height: 100%;
    background: #81939D;
    position: fixed;
    transition: all 2s ease;

    .logo {
        padding: 10px;
        background: #BDC6CC;
        position: relative;
        transition: all 2s ease;
        img {
            transition: all 2s ease;
            max-width: 100%;
        }
    }

    .nav {
        transition: all 2s ease;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 20px;

        li {
            display: block;
            transition: all .2s ease;

            i, #toggle-collapse > i {
                line-height: initial;
                float: right;
                margin-right: 15px;
            }

            &:hover {
                background: #BDC6CC;
            }

            a, #toggle-collapse {
                display: block;
                text-decoration: none;
                color: #fff;
                font-size: 15pt;
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }
    }


    .sidebar-bottom {
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 10px;

        .nav-bottom {
            margin: 0;
            padding: 5px;
       
            list-style-type: none;

            li {
                display:block;
                margin: 5px;
                background: #BDC6CC;
                flex: 1;
                color: #fff;
                font-size:12pt;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    padding: 10px;
                    color: #fff;
                }
            }
        }
    }
}
.collapsed {
    margin-left: -125px;

    .sidebar-bottom {
        display: none;
    }

    .logo{
        transition:all 2s ease;

        margin-left:125px;
    }

    .nav {
        li {
            text-align: center;

            i, #toggle-collapse > i {
        
            }

            a, #toggle-collapse {
              
            }
        }
    }
}

.mobile-nav {
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    background: #455A64;
    display: none;
    align-items: center;
    z-index:2;

    .toggle-menu {
        color: #fff;
        margin-left:25px;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-nav {
        display: flex;
    }

    .hidden{
        display:none;
    }
    .sidebar {
        -webkit-transition: all 2s;
        transition: margin 2s;
        margin-left: -200px;
        display: block;
        z-index: 3;

        .nav li {

            #toggle-collapse {
                display: none;
            }
        }
    }
    
    .sidebar-overlay{
        width:100%;
        height:100%;
        z-index:2;
        display:block;
        position:fixed;
        background:rgba(0, 0, 0, 0.5);
    }
}